<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Character Generator v0.1.0</title>
</head>
<body>
	<h1>Character Generator</h1>
	<form action="{{url_for('read_form')}}" method="post">
		<input type="hidden" id="form-version" name="form-version" value="0.1.0">
		<fieldset id="character-field">
			<legend>Character</legend>
			<section>
				<label for="name">Name:</label>
				<input name="name" id="name">
			</section>
			<section>
				<label for="age">Age:</label>
				<select name="age" id="age" value="Adult">
					<option value="baby">Baby</option>
					<option value="child">Child</option>
					<option value="teen">Teenager</option>
					<option value="young adult">Young Adult</option>
					<option selected="selected" value="adult">Adult</option>
					<option value="elderly">Senior</option>
					<option disabled>------</option>
					<option value="30s">Thirtys (30s)</option>
					<option value="40s">Fourties (40s)</option>
					<option value="50s">Fifties (50s)</option>
					<option value="60s">Sixties (60s)</option>
					<option value="70s">Seventies (70s)</option>
					<option value="80s">Eighties (80s)</option>
				</select>
			</section>
			<section>
				<label for="sex">Sex: </label>
				<div>
					<input type="radio" name="sex" id="male" value="male">
					<label for="male">Male</label>
					<input type="radio" name="sex" id="female" value="female">
					<label for="female">Female</label>
				</div>
			</section>
		</fieldset>
		<fieldset id="appearance-field">
			<legend>Appearance</legend>
			<section>
				<label for="skin-color">Skin Color:</label>
				<input name="skin-color" id="skin-color">
			</section>
			<section>
				<label for="skin-traits">Skin Traits:</label>
				<input name="skin-traits" id="skin-traits">
			</section>
			<hr>
			<section>
				<label for="eye-color">Eye Color:</label>
				<input name="eye-color" id="eye-color">
			</section>
			<section>
				<label for="eye-traits" id="eye-traits">Eye Traits:</label>
				<input name="eye-traits" id="eye-traits">
			</section>
			<hr>
			<section>
				<label for="hair-color">Hair Color:</label>
				<input name="hair-color" id="hair-color">
			</section>
			<section>
				<label for="hair-traits">Hair Traits:</label>
				<input name="hair-traits" id="hair-traits">
			</section>
		</fieldset>
		<fieldset id="clothing-field">
			<legend>Clothing</legend>
			<section>
				<label for="attire">Attire:</label>
				<input name="attire" id="attire">
			</section>
			<section>
				<label for="accessories">Accessories:</label>
				<input name="accessories" id="accessories">
			</section>
		</fieldset>
		<fieldset id="features-field">
			<legend>Features</legend>
			<section>
				<label for="profession">Profession:</label>
				<input name="profession" id="profession">
			</section>
			<section>
				<label for="portrait-style">Style:</label>
				<input name="portrait-style" id="portrait-style">
			</section>
			<section>
				<label for="expression">Expresssion:</label>
				<input name="expression" id="expression">
			</section>
		</fieldset>
		<fieldset id="submission-field">
			<legend>Submittion</legend>
			<section>
				<label for="username">Username:</label>
				<input type="text" name="username" id="username">
				<input type="submit" value="Submit">
			</section>
	</form>
</body>
</html>